<mat-card class="menu-card">

	<mat-toolbar class="menu-toolbar">
		<mat-toolbar-row>
			<span>В избранное добавлено: {{favoriteFilmsCount}} элементов</span> &nbsp;
			<!-- <button mat-raised-button (click)="directUpdateChildren()">Один Дочерний компонент</button> &nbsp;
			<button mat-raised-button (click)="directUpdateAllChildren()">Все Дочерние компоненты</button> -->
			<!-- <button mat-raised-button (click)="count()">++</button> -->
			<span class="example-spacer"></span>
			<div>
				<app-search (searchEmitter)="doSearch($event)"></app-search>
			</div>
			<span class="example-spacer"></span>
			<div>
				<mat-form-field>
					<mat-select placeholder="Фильмы/Актеры" [(ngModel)]="sortOption" (selectionChange)="choseWhatToShow()" (selectionChange)="counter = 1">
						<mat-option *ngFor="let option of sortOptions" [value]="option.value">
							{{option.description}}
						</mat-option>
						<!-- <mat-option value="default">Default</mat-option> -->
					</mat-select>
				</mat-form-field>
			</div>
		</mat-toolbar-row>
	</mat-toolbar>
</mat-card>

<!-- пагинатор -->

<div class="paginator">
	<paginator [totalPages]="pageInfo.totalPages" (pagEmitter)="doPagination($event)">
	</paginator>
</div>


<!-- прогресс-бар -->
<ng-progress [positionUsing]="'translate'" [direction]="'leftToRightIncreased'" [color]="'#ff0000'" [trickleSpeed]="300"
 [showSpinner]="false" [thick]="true" [ease]="'easeInSine'"></ng-progress>

<mat-spinner *ngIf="loading" class="spinner" color="accent"></mat-spinner>


<!-- карточки -->

<mat-grid-list cols="3" rowHeight="840px">
	<mat-grid-tile colspan="1" *ngFor="let item of items">
		<!-- <app-film-item *ngIf="sortOption == 'Films'" [film]="item" [counter]="counter" (star)="makeFavorite($event)" (book)="makeBookmark($event)"
		 [imgPath]="imgPath"></app-film-item> -->
		<app-actor-item *ngIf="sortOption == 'Actors'" [actor]="item" [counter]="counter" (star)="makeStar($event)" [imgPath]="imgPath"></app-actor-item>
	</mat-grid-tile>
</mat-grid-list>

<!-- кнопка загрузки дополнительных фильмов -->
<div class="main-container">
	<div class="fixer-container">
		<button mat-raised-button color="primary" [disabled]="searching" (click)="setNextPage()">Загрузить еще</button>
	</div>
</div>


<!-- 
<span class="example-spacer"></span>

<div class="bottom-list-panel-center">
	<button mat-raised-button (click)="goFirstPage()">Первая</button>


	<button color="warn" mat-raised-button [disabled]="isLastPage()" (click)="setNextPage()" class="show-more">Показать еще</button>


	<button mat-raised-button (click)="goLastPage()">Последняя</button>
</div> -->



<!-- <paginator [totalPages]="pageInfo.totalPages" (pagEmitter)="doPagination($event)">

</paginator> -->